* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth; 
}

img {
    display: block;   
    max-width: 100%;
}

button, a {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.head {
    max-width: 1600px;
    height: 75px;
    background: #222222;
    display: flex;
    gap: 859px;
}

.head-left {
    display: flex;
    align-items: center;
    gap: 41px;
    padding-left: 231px;
}

.head__left-logo {
    width: 44px;
    height: 38px;
}

.head-left__search {
    background: #222222;
    width: 26.002px;
    height: 26.792px;
}

.head-right {
    display: flex;
    align-items: center;
}

.head__right-menu {
    background: #222222;
    width: 32px;
    height: 23px;
    margin-top: 30px;
    margin-bottom: 22px;
    margin-right: 33px;
}

.head__right-users {
    background: #222222;
    width: 29px;
    height: 29px;
    margin-top: 26px;
    margin-bottom: 20px;
    margin-right: 33px;
}

.head__right-basket {
    background: #222222;
    width: 32px;
    height: 29px;
    margin-top: 26px;
    margin-bottom: 20px;
}

.brand {
    display: flex;
    background: #F1E4E6;
    max-width: 1600px;
}

.brand-left {
    max-height: 764px;
}

.brand-right {
    max-width: 405px;
    max-height: 93.1px;
    margin-top: 289.9px;
    margin-left: 63.42px;
    border-left: 12px solid #F16D7F;
    vertical-align: middle;
    padding-left: 16px;
}

.brand__right-title{
    font-size: 48px;
}

.brand__right-paragraph {
    font-size: 32px;
}

.brand__right-fashion {
    color: #F16D7F;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 19.9px;
    justify-content: space-between;
    margin-top: 65px;    
}


.catalog-forWoman {
    background-image: url(./img/woman.png);
    width: 360px;
    height: 260px;
}

.catalog__forWoman-background {
    background-color:  rgba(33, 22, 22, 0.70);
    width: 100%;
    height: 100%;
} 

.catalog__forWoman__background__text-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    padding: 104px;    
}

.catalog__forWoman__background__text-woman {
    color: #F16D7F;
    font-size: 24px;
}

.catalog-forMan {
    background-image: url(./img/man2.png);
    width: 360px;
    height: 260px;   
}

.catalog-forKids {
    background-image: url(./img/kid.png);
    width: 360px;
    height: 260px   
}

.catalog-accesories {
    background-image: url(./img/accesories.png);
    width: 1140px;
    height: 180px;
}

.catalog__accesories-background {
    background-color: rgba(33, 22, 22, 0.70);
    width: 1140px;
    height: 180px;
}

.catalog__accesories__background__text-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    padding: 65px 190px;
}

.items {
    text-align: left;
    margin-top: 96px;
}

.items__text-title {
    font-size: 30px;
    margin-bottom: 6px;
}

.items__text-paragraph {
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 48px;
}

.items-cards { 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.items__cards-1 {
    max-height: 587px;
    max-width: 360px;
    background-color: #F8F8F8;;
}

.items__cards__1-text {
    margin: 24px 16px;
}

.items__cards__1__text-title {
    font-size: 13px;
    color: #000;
}

.items__cards__1__text-paragraph {
    color: #5D5D5D;
    font-size: 14px;
    margin: 16px auto;
    max-width: 314.743px;
}

.items__cards__1__text-price {
    color: #F16D7F;
    font-size: 16px;
}

.items-btn {
    width: 212px;
    height: 48px;
    color: #F26376;
    border: 1px solid #F26376;
    display: block;
    margin: 0 auto;    
    margin-top: 48px;
    margin-bottom: 60px;
}

.items__btn-paragraph {
    font-size: 16px;
}